<div class="row pt-5">
  <div class="col">
    <div class="card">
      <div class="card-header">
        Add Server to monitor
      </div>
      <div class="card-body">
        <p class="card-text">Check this site:</p>
        <form action="/servers" method="post">
          <div class="form-group">
            <label for="exampleInputEmail1">URL</label>
            <input type="url" name="url" class="form-control" id="siteUrl" aria-describedby="urlHelp" placeholder="Enter URL to monitor">
            <small id="urlHelp" class="form-text text-muted">e.g. https://yoursite.com/page.php</small>
          </div>
          <button class="btn btn-primary" type="submit">Add Server</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row pt-5" id="app">
  <div class="col">

    <!-- Server -->
    <div v-for="item in items">
      <div class="media">
        <i v-if="item.last_check.response_code == 200" class="d-flex mr-3 fa fa-server fa-3x text-success"></i>
        <i v-else class="d-flex mr-3 fa fa-server fa-3x text-danger"></i>
        <div class="media-body">
          <h5 class="mt-0">\{{ item.url }}</h5>
          <small>Last Check: \{{ item.last_check.time }}</small>
        </div>
      </div>
    <div class="clearfix pb-5"></div>
    </div>
    <!-- Server 
    <div class="media">
      <i class="d-flex mr-3 fa fa-server fa-3x text-danger"></i>
      <div class="media-body">
        <h5 class="mt-0">https://test.com/page</h5>
        <small>Last Check: mm/dd/YYYY at hh:mm</small>
      </div>
    </div>
    <div class="clearfix pb-5"></div>
    -->
  </div>
</div>